# HTTPS forzato e canonicalizzazione su www: qualunque richiesta non gia'
# su https://www.studiourbani.it/ viene rimandata li' in un solo passaggio.
RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^studiourbani\.it$ [NC]
RewriteRule ^ https://www.studiourbani.it%{REQUEST_URI} [L,R=301,NE]

ErrorDocument 404 /404.html

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType font/woff2 "access plus 1 year"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 month"
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType application/javascript "access plus 1 week"
</IfModule>
